$orange: #ffee59;
$purple:#eccdf3 ;
$black: #232323;
$dark-purple:#ae42c8;
$white:#ffffff;
$grey:#bbbbbb;
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.nav-logo {
  img {
    height: 50px;
  }
}

.navbar-brand {

  font-size: 30px;
}

.navbar-collapse {
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 900;
  color: $black;
  transition: all 2s;
}

.navbar-nav li {
  padding: 8px 15px;

}

.main-btn button {
  border-radius: 100px;
  font-size: 18px;
  padding: 10px 25px;
  background-color: $black;
  color:$white;
  font-weight: 800;

}

.header {
  text-align: center;
  color: $dark-purple;
  padding-top: 160px;
  padding-bottom: 75px;
  background-color:$white;
  background: linear-gradient(180deg, $white, $purple);
}

.header-para {
  color: $black;
  text-align: center;
  font-size: 32px;
}

.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  padding: 20px 50px;
  font-size: 25px;
  font-weight: 800;
  &:hover{
    background-color: $black;
    color: $white;
  }
}

.mbr-text {
  font-weight: 700;
  font-size: 80px;
}

.img-btn {
  height: 80px;
  color: $black;
}

.btn-lg {
  img {
    width: 35px;
    color: $black;
  }
}

// ---------card-1-----------//
.cards {
  background-color: $purple;
  padding: 70px 0px;

}

.card.card-2{
  border-radius: 50px;
  background-color: #ffffff;
}

.heading-card {
  text-align: center;
  color: $white;
}

.heading-card {
  h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 50px;
  }
}

.card {
  img {
    height: 300px;
    border-radius: 3rem;
    max-width: 100%;
    padding: 10px;

  }
}

.card-body {
  border-radius: 3rem;
  padding: 30px;
}

.card-title {

  color: $purple;
  font-weight: 400;
  font-size: 30px;
}

.card-text {
  font-size: 48px;
  font-weight: 800;
}

.main-btn2 {
  button {
    border-radius: 100px;
    font-size: 18px;
    padding: 15px 35px;
    background-color: $orange;
    color: $black;
    font-weight: 800;
    border: none;
    &:hover{
     background-color:$black ;
      color:$orange ;
    }
  }
    }



// -------section-3---------/
.cards-2 {
  padding: 56px;

}

.text-wrapper {
  h1 {
    color: $dark-purple;
    font-size: 100px;
    font-weight: 900;
    margin-top: 100px;
    line-height: 5.5rem;
    margin-bottom: 30px;
  }
}

.text-wrapper {
  h2 {
    font-size: 40px;
    font-weight: 800;
  }
}

.text-wrapper {
  p {
    font-size: 32px;
  }
}
// ---cards-3--------/
.cards-3 {
  background-color:$purple;
  padding: 80px;
}
.col-md-12 {
  
  text-align: center;
  color:$white;

h1{
  font-weight: 900;
  font-size: 80px;
}
p{
  font-size: 40px;
  color: $white;
}
}
.round {
  position: relative;
  transform: rotate(10deg);
}

 .round{
  h3{
  position: absolute;
  bottom: 90%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: $orange;
  border-radius: 50%; 
}
 }

// --------section-4------
.cards-4 {
  background-color: $purple;
}

.mbr-section-head {
  text-align: center;
}

.mbr-section-head {
  h4 {
    font-size: 100px;
    font-weight: 800;
    color: $dark-purple;
  }
}

.mbr-section-head {
  h5 {
    font-size: 1.8rem;
  }
}

// --section-4-----//
.cards-4 {
  padding: 100px;
}

.item-wrapper {
  position: relative;
  border-radius: 3rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

}

.item-wrapper {
  img {
    max-width: 100%;
    border-radius: 3rem;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }

  h5 {
    font-size: 1.8rem;
    color:$white;
    font-weight: 800;
  }

  p {
    color:$white;
    font-size: 1.4rem;
  }
}

.item-content {
  position: absolute;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 30px;
}

// ----section-5----/
.paragraph {
  text-align: center;
  padding: 10rem;

}

.paragraph {
  h1 {
    color:$dark-purple;
    font-weight: 800;
    font-size: 3rem;
  }
  p{
    font-size: 20px;
    line-height: 1.5;
    color: $black;

  }
}
// ------section----/
.card-container{
  background-color: $purple;
   padding:30px ;
}  
 .section-heading{
  h3{
  color:$white;
  font-weight:800 ;
  font-size:104px ;
  text-align: center;
  margin-bottom: 50px;
 }    
 }
 .row-card{
  border-radius: 30px ;
  background-color:$white;

 }
 .card-warning{
  background-color: $orange;
  text-align: center;
 }
 .first{
  padding: 80px 10px;
  margin: 0px;
  
  
 }
 .card-primary{
  text-align: center;
  background-color: $orange;
 }
 .card-wrapper-1{
  h5{
  font-size: 40px;
  font-weight: 800;
  color:$dark-purple;
 }
}
 .iconfont-wrapper {
  display: block;
  font-size: 6rem;
  color: $purple;
  text-align: center;
 }
 h5{
  font-size:2rem ;
 }
 p{
  font-size:3rem ;
  padding: 20px;
 }
 .icon-img{
  img{
    width:90px ;
    height:90px ;
  }
 }
//  ----container-2-----/
.container-2{
  padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $purple;
}
.col-lg-6 {
  
  width: 50%;
  h3{
    color: $white;
    font-size: 6.5rem;
      font-weight:800 ; 
  }
 
}
.card-img-1{
  display: flex;
} 
.card-img-4 {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 570px;
  max-width: 570px;
  padding: 3rem;
  border-radius: 2rem;
  background: $white;
}
.user_image {
  width: 100px;
  height: 100px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.name {
  color: $grey;
  padding: 30px;
  p{
    font-size: 20px;
    font-weight: 400;
    margin: none;
  }
}
.card-para-2 {
  p{
  font-size: 1.4rem;
  line-height: 1.5;
}
}
// -----images-section-----/
.images-section{
  background-color:$purple ;
  padding-bottom:6rem ;
}
.card-images {
  background-color: transparent;
  border: none;
  display: flex;
 img {
  width: 150px;
  margin: auto;
}
}
// ------section cards6-------/
.section-cards6{
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $white;
}

.row-cards6{
  display: flex;
}
.col-lg-4 {
  width: 33.3333333333%;

h4{
  font-size: 6.5rem;
  line-height: 0.85;
  font-weight:800 ;
  margin: auto;
}
 h5{
  font-size: 1.4rem;
  line-height: 1.5; 
 }
}
.box{
  position: relative;
img{
max-width: 100%;
border-radius:2rem ;
}
}
.icon-wrap{
  text-align: center;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    img{
width: 100px;
height: 50px;
    }
  }

// ------section cards-8--------/
.cards8-section{
  background-color:$purple ;
  padding:6rem ;
}
.heading8{
  h4{
   color: $white;
    font-weight:800 ;
    font-size:6.5rem ;
    text-align: center;
  }
}
.item-wrapper4{
  img{
    max-width:100% ;
    margin-bottom: 2rem;
    height: 600px;
    object-fit: cover;
    border-radius:70px ;
    padding: 0px 30px;
    transition: transform 0.3s;
  }
  &:hover{
    transform: scale(1.05);
  }

}
.item-wrapper5{
  img{
    max-width:100% ;
    height: 600px;
    object-fit: cover;
    border-radius:70px ;
    padding: 0px 30px;
    margin-top: 80px;
    transition: transform 0.3s;
  }
  &:hover{
    transform: scale(1.05);
  }
}
.icon8{
  img{
  width:100px ;
  padding-right: 1rem;}
  h4{
   font-weight:900 ;
   transition:all 3s ;
   }
   &:hover{
    text-decoration: underline $dark-purple;
   }
  }
// -------map section--------//
.map-section{
 padding-top:6rem  ; 
 
}
.heading-map{
  h3{
  font-weight:900 ;
  font-size:6.5rem ;
  color:$dark-purple ;
  text-align: center;
}
}
.google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.google-map {
  height: 35rem;
  position: relative;
}
// /---------footer section---//
.footer-section{
  background-color:$black ;
}